<html>
<head>
<style>

.graph {
    position: relative; /* IE is dumb */
    width: 200px;
    border: 1px solid #999999;
    padding: 1px;
}

.graph .bar {
    display: block;
    position: relative;
    background: #cccccc;
    text-align: center;
    color: #333;
    height: 10pt;
    line-height: 9pt;
}

.graph .bar span { position: absolute; left: 1em; }

a {
	color: #336699;
}

body, td {
	font-family: helvetica, arial, sans-serif;
	font-size: 9pt;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
}

pre {
	font-family: helvetica, arial, sans-serif;
	font-size: 8pt;
}

div {
	margin-bottom: 8pt;
}

th {
	background-color: #6699AA;
	color: white;
	font-family: lucida grande, arial;
	font-size: 9pt;
}

dt {
	font-weight: bold;
}

table {
}

code {
	font-family: andale mono, monaco, courier new, courier, fixed;
	font-size: 9pt;
	color: #336699;
}

h1 {
	font-family: lucida grande, arial;
	font-size: 14pt;
	color: white;
	background-color: #336699;
	padding: 10px;
}

h2 {
	font-family: lucida grande, arial;
	font-size: 12pt;
	xxborder-top: 1px solid #cccccc;
	padding-top: 8pt;
}

h3 {
	font-family: lucida grande, arial;
	font-size: 10pt;
}
th {
	font-size: 8pt;
	text-align: left;
	padding-left: 2pt;
	padding-right: 2pt;
	border-top: 1px solid white;
	border-left: 1px solid white;
}
td {
	font-size: 8pt;
}

td.header {
	background-color: #cccccc;
	border-top: 1px solid white;
	border-left: 1px solid white;
	font-style: bold;
}

td.spacer {
	background-color: #cccccc;
	border-left: 1px solid white;
}

dl {
	font-size: 8pt;
}

tr.red {
	background-color: #ffcccc;
}

tr.green {
	background-color: #ccffcc;
}

tr.blue {
	background-color: #ccccff;
}

tr.yellow {
	background-color: #ffffcc;
}

</style>
<title>Queue Program Status : $dbm.getSiteName($db.Attributes.InetAddress.HostName) Semester $semester</title>
</head>
	<body>

		<h1>Queue Program Status : $dbm.getSiteName($db.Attributes.InetAddress.HostName) Semester $semester
		<br><span style="font-size: 8pt; font-style:italic; font-weight: normal">Last updated
					${now.toGMTString()}</span>
		</h1>

		<div>
		This <b>Gemini-internal</b> report shows queue status, including internal queue planning
		notes.
		</div>

		<div>
		<table>
			<tr>
			<td>$dbm.getSiteAbbreviation($db) $semester:</td>
			<td>#foreach($band in [1..$maxBand])
			<a href="#band-$band">Band $band</a>
			#end
			</td>
			</tr>
			#foreach ($siteSemFileEntry in $siteSemFile.entrySet())
				<tr>
				<td>$dbm.getSiteName($siteSemFileEntry.Key):</td>
				<td align="right">
				#foreach ($semFileEntry in $siteSemFileEntry.Value.entrySet())
					#if($siteSemFileEntry.Key.equals($db) && $semester.equals($semFileEntry.Key))
						<b>$semFileEntry.Key</b>
					#else
						<a href="$semFileEntry.Value.Name">$semFileEntry.Key</a>
					#end
				#end
				</td>
			#end
		</table>
		</div>

		<table cellspacing="0">
		#set($prev="")
		#foreach ($row in $results)
			#set($curr=$row.getGroupValue(1))
			#if(!$prev.equals($curr))
			<td style="padding: 3px; font-size: 10pt;" align="center" colspan="10"><a name="band-$curr">&nbsp;<br><B>Scientific Ranking Band $curr</B></td>
			<tr>
				<td nowrap>Program ID</td>
				<td nowrap>Execution Status</td>
				<td nowrap align="right">Completion</td>
				#if($curr.equals(3))
				    <td nowrap align="right">Remaining</td>
				    <td nowrap align="right">Band 3</td>
				#else
				    <td nowrap align="right" colspan="2">Remaining</td>
				#end
				<td nowrap>IQ &#47; CC &#47; SB &#47; WV</td>
				<td nowrap align="right">RA</td>
				<td nowrap>Instrument</td>
				<td nowrap>Resources</td>
				<td nowrap>Planning Note</td>
			</tr>
			#set($prev = $curr)
			#end
			<tr class="$query.OutputColumns.get(0).format($row.getValue(0))">
				<td valign="top" nowrap>$escaper.escape($query.OutputColumns.get(1).format($row.getValue(1)))</td>
				<td valign="top" nowrap>$escaper.escape($query.OutputColumns.get(2).format($row.getValue(2)))</td>
				<td valign="top" nowrap align="right">$escaper.escape($query.OutputColumns.get(3).format($row.getValue(3)))%</td>
				#if($curr.equals(3))
   				   <td valign="top" nowrap align="right">$escaper.escape($query.OutputColumns.get(4).format($row.getValue(4)))</td>
				   <td valign="top" nowrap align="right">$escaper.escape($query.OutputColumns.get(5).format($row.getValue(5)))</td>
				#else
   				   <td valign="top" nowrap align="right" colspan="2">$escaper.escape($query.OutputColumns.get(4).format($row.getValue(4)))</td>
				#end
				<td valign="top" nowrap align="center">$escaper.escape($query.OutputColumns.get(6).format($row.getValue(6)))</td>
				<td valign="top" nowrap align="right">$escaper.escape($query.OutputColumns.get(7).format($row.getValue(7)))</td>
				<td valign="top" nowrap>$escaper.escape($query.OutputColumns.get(8).format($row.getValue(8)))</td>
				<td valign="top">$escaper.escape($query.OutputColumns.get(9).format($row.getValue(9)))</td>
				<td valign="top">$escaper.escapeWithBreaks($query.OutputColumns.get(10).format($row.getValue(10)))</td>
			</tr>
		#end
		</table>

</html>