<html>
<head>
<style>

.graph {
    position: relative; /* IE is dumb */
    width: 200px;
    border: 1px solid #999999;
    padding: 1px;
}

.graph .bar {
    display: block;
    position: relative;
    background: #cccccc;
    text-align: center;
    color: #333;
    height: 10pt;
    line-height: 9pt;
}

.graph .bar span { position: absolute; left: 1em; }


</style>
<title>$semester Queue</title>
</head>
	<body link="#008080" vlink="#008080" text="#000000" bgcolor="#FFFFFF">

	<table>
		<tr>
			<td><img SRC="http://www.gemini.edu/sciops/schedules/mayacal.gif" ALIGN="LEFT" width="243" height="84" alt="[Mayan calendar]"></td>
		    <td width="100%" align="center"><h1><i>Queue Summary : Semester $semester $sites</i></h1></td>
		</tr>
	</table>

		<p>
		The queues shown in the tables below summarise the programs that have been awarded time on $sites. Jump directly to the queue for:

		<p>

		<ul>
		#foreach ($info in $infoList)
		<li><a href="#Gem${info.Site}Top"><font color="#0000FF">$info.Site</font></a>: band
			#foreach ($i in [ 1 .. $info.maxBand ])
				<a href="$info.Hash${info.siteAbbrev}b$i">$i</a>#if ($i < $info.maxBand),#end
			#end (and previous semester band 1 rollover:
			<a href="${info.getFileName(-1)}$info.Hash${info.SiteAbbrev}b1">$info.getSemesterAbbrev(-1)</a>)
		#end
		</ul>

		<p>
		The queue is constructed by the International TAC from the ranked
		list of proposals of each National TAC using the
		<a href="http://www.gemini.edu/sciops/observing-gemini/proposal-submission?q=node/11019"><font color="#0000FF">merging sequence</font></a>
		and is divided into three <strong>scientific ranking bands</strong> (SRBs).
		<b>Joint proposals</b> (submitted to more than one NTAC for joint support)
		were combined by the ITAC, are shown in the table as a single entry and are
		executed as such. Several proposals have multiple occurrences as they were
		sub-divided by the relevant NTAC; each component is executed separately.</p>

		<p>
		Within each band, all proposals are assumed to have equal scientific merit
		and have been sorted by PI name for convenience. The choice of which observation
		within which program to execute next depends on the match to current observing
		conditions, the balance of each partner's usage and other factors such as future
		accessibility, whether a program has been started etc. (see a detailed discussion
		in Puxley 1997; Gemini
		<a href="http://www.gemini.edu/documentation/preprints/pre19.html"><font color="#0000FF">Preprint
		#19</font></a>). The aim is to exhaust band 1 (highest ranked) programs before moving
		onto band 2 and so on. An observation in band 1 that does not require the best
		conditions will nevertheless be executed in preference to a band 2 observation
		even if the latter is a better match. Thus the likelihood of execution decreases
		from band 1 through to band 3. Bands 1 through 3 aim to fill the nominal queue
		time available (excluding weather loss). Hence programs in band 3 overfill the
		queue and provide flexibility with respect to weather conditions and foreseen or
		unforeseen problems.

		<p>
		<font color="red"><b>
		This report is generated daily (see the bottom
		of the page for the current timestamp). The pages linked via <i>Completion Status</i>
		are updated approximately every 4 hours. Note that the completion
		fraction may change as the time accounting is adjusted during the quality assessment
		process.
		</b></font>

		<p>
		<img src="http://www.gemini.edu/sciops/schedules/caution.gif">
		Note that individual SRBs 	will not be in detailed balance with respect to
		partner shares. Aggregating over two or 	more bands generally provides an
		equitable distribution of queue loading (in hours, not in the number of
		proposals) once any classically-scheduled programs are taken into account.
		Additional flexibility is available when	executing observations to balance
		the partner usage of time. The intent is to achieve balance over 2 or 3
		semesters, not a single semester.

		<p>

		#foreach ($info in $infoList)


		<hr>

		<a name="Gem${info.Site}Top">
		The columns in the table for <font color="red"><b>$info.Site</b></font> are:<br>

		<b>Ref #</b>
		Gemini reference number (note that this is different from any internal
		National TAC reference number). Click on it to see the proposal
		abstract (when	available).<br>

		<b>PI</b>
		Name of Principal Investigator. (If a joint proposal, the name of the
		primary contact for the entire program is listed).<br>

		<b>Partner</b>
		Partner (UH = University of Hawaii, GS=Gemini staff) or country  (US,
		UK, CA, CL, AU, AR, BR) to which time will be charged.	If a joint proposal,
		all contributors are shown.<br>

		<b>Title</b>
		The title of the science program.<br>

		<b>Instrument</b>
		Name of the instrument(s) required.<br>

		<b>Hours Allocated</b>
		Time allocated to the program (if a joint proposal,	this is the total
		time for the program). Programs identified e.g. [r06A] were assigned
		rollover status by the ITAC and will be carried over into the specified semester
		if not completed in this semester. <font color="#FF0000">Programs carried
		forward from previous semester(s) are linked at the top of this page.</font>
		<br>

		<b>Execution Status</b>
		Click on this hyperlink to see the current status of each observation in
		the program.<br>

		<b>Data Taken</b>
		The UT date(s) on which data were taken.<br>

		<b>Completion Status</b>
		This shows an <i>estimate</i> of the fraction of allocated time that
		has been used. Note that this is a <i>preliminary estimate</i>	and is only
		an indication of the completion state of the program. The completion
		state may not reflect the formal time accounting. Also note that some programs
		may be completed in less than the allocated time (e.g. if conditions were better
		than requested or if the request was overestimated).<br>

		<p>The <b>assigned support staff</b> (Gemini Contact Scientists and National Office staff)
		for each <a href="http://www.gemini.edu/sciops/schedules/obsStatus/ODBConfigGN${semester.substring(2)}.html"><font color="#0000FF">Gemini North ODB</font></a>
		and <a href="http://www.gemini.edu/sciops/schedules/obsStatus/ODBConfigGS${semester.substring(2)}.html"><font color="#0000FF">Gemini South ODB</font></a>
		program are listed in the interactive 'snapshots' of the Observing Database (ODB). </p>

			<table border="0" width="100%" cellpadding="4" cellspacing="0">
			#set($prev="")
			#foreach ($row in $info)
				#set($curr=$row.getGroupValue(1))
				#if(!$prev.equals($curr))
				<tr style="background-color: #ffaa88">
					<td  align="center" bgcolor="#FFD1A4" colspan="7"><a name="${info.siteAbbrev}b$curr">${info.siteAbbrev} Scientific Ranking Band $curr</td>
				</tr>
				<tr style="background-color: #BDBDFF">
					<td nowrap>Ref #</td>
					<td nowrap>PI</td>
					<td nowrap>Partner</td>
					<td nowrap>Title</td>
					<td nowrap>Instrument</td>
					<td colspan="2">Hours<br>allocated</td>
				</tr>
				#set($prev = $curr)
				#end
				<tr style="background-color: #336600; color: white">
					<td nowrap>$escaper.escape($query.OutputColumns.get(0).format($row.getValue(0)))</td>
					<td nowrap>$escaper.escape($query.OutputColumns.get(1).format($row.getValue(1)))</td>
					<td>$escaper.escape($query.OutputColumns.get(2).format($row.getValue(2)))</td>
					<td>$escaper.escape($query.OutputColumns.get(3).format($row.getValue(3)))</td>
					<td>$escaper.escape($query.OutputColumns.get(4).format($row.getValue(4)))</td>
					<td align="right">$escaper.escape($query.OutputColumns.get(5).format($row.getValue(5)))</td>
					<td>$escaper.escape($query.OutputColumns.get(9).format($row.getValue(9)))</td>
				</tr>
				<tr>
					#set($pid=$query.OutputColumns.get(0).format($row.getValue(0)))
					<td valign="top" colspan="2" nowrap>
						<font color="#008080"><i>Execution Status:</i></font>
						$escaper.escape($query.OutputColumns.get(6).format($row.getValue(6)))</td>
					<td valign="top" colspan="2"><font color="#008080"><i>Dates Taken:</i></font> <br>$escaper.escape($query.OutputColumns.get(7).format($row.getValue(7).replace("/", "")))</td>
					<td valign="top" colspan="3" style="padding-right: 0px;">
						<font color="#008080"><i>Completion Status:</i></font>
						<div class="graph"><span class="bar" style="font-size: 8pt; width: $query.OutputColumns.get(8).format($row.getValue(8))%;">$query.OutputColumns.get(8).format($row.getValue(8))%</span></div></td>
				</tr>
			#end
			</table>

			#end

<p>&nbsp;</p>


<p align="center"><a href="/sciops/sciOpsContents.html"
target="_top"><img
alt="[Science Operations home]" src="http://www.gemini.edu/sciops/generic-images/sciopshomebtn.gif" border="2"
hspace="5" width="120" height="28"></a> <a href="schedIndex.html"
target="_top"><img
alt="[schedules home]" src="http://www.gemini.edu/sciops/schedules/schedhomebtn.gif" border="2" hspace="5"
width="120"
height="28"></a> </p>

<hr align="left" size="3">

<!-- any other pending edits listed here
-->

<p><i>Last updated on: ${now.toGMTString()}</i></p>





		</body>

</html>
