*.class
*.log

.DS_Store
.svn/
*~

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
jres.sbt

# Scala-IDE specific
.scala_dependencies
.worksheet

# Idea specific
app/**/idea
*.iml
*.ipr
*.iws
.idea

# Eclipse specific
.project
.settings
.classpath

# Credentials
app/ags/conf/gemKeystore
app/spdb/conf/gemKeystore
bundle/edu.gemini.services.server/src/main/resources/edu/gemini/services/server/util/24408334e14c4c6ca38b20b445384c25e9c4a8a9-privatekey.p12
bundle/edu.gemini.services.server/src/main/scala/edu/gemini/services/server/util/24408334e14c4c6ca38b20b445384c25e9c4a8a9-privatekey.p12
project/OcsCredentials.scala
bundle/edu.gemini.oodb.too.window/src/main/resources/resources/emailConf.xml
bundle/edu.gemini.oodb.too.window/src/main/resources/resources/emailConf-test.xml

# Reinclude packages named "target" and bundles that end in ".log"
!/bundle/edu.gemini.pit/src/main/scala/edu/gemini/pit/ui/view/target
!/bundle/edu.gemini.pot/src/main/java/edu/gemini/spModel/target
!/bundle/edu.gemini.pot/src/main/scala/edu/gemini/spModel/target
!/bundle/edu.gemini.pot/src/main/resources/edu/gemini/spModel/target
!/bundle/edu.gemini.pot/src/test/java/edu/gemini/spModel/target
!/bundle/edu.gemini.pot/src/test/scala/edu/gemini/spModel/target
!/bundle/edu.gemini.p2checker/src/main/scala/edu/gemini/p2checker/target
!/bundle/edu.gemini.sp.vcs.log

# Metals, vs-code
.metals
.vscode
.bloop
project/metals.sbt

# Vim
*.swp
