*.class
*.log

.DS_Store
.svn/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Idea specific
idea/
*.iml
*.ipr

# Credentials
app/spdb/conf/gemKeystore
bundle/edu.gemini.services.server/src/main/resources/edu/gemini/services/server/util/24408334e14c4c6ca38b20b445384c25e9c4a8a9-privatekey.p12
bundle/edu.gemini.services.server/src/main/scala/edu/gemini/services/server/util/24408334e14c4c6ca38b20b445384c25e9c4a8a9-privatekey.p12
project/OcsCredentials.scala

