<html>

<head>
	<title>$doc.Schedule.Site - $doc.formatDate("yyyyMMdd", $doc.Schedule.End, "UTC")</title>
	<style>

	h1 { font-family: Helvetica; font-size: 14pt; font-weight: bold; text-align: center; margin: 24pt; }
	h2 { font-family: Helvetica; font-size: 12pt; font-weight: bold; margin-top: 18pt;}
	h3 { font-family: Helvetica; font-size: 10pt; font-weight: bold; margin-top: 4pt;}
	h2.visit { font-family: Helvetica; font-size: 12pt; font-weight: bold; color: white; background-color: dimgray; padding: 5pt; padding-left:10pt; margin-top: 24pt; }
	body { font-size: 10pt; margin: 15px; }
	div.conditions { font-weight: bold; margin-bottom: 10pt; text-align: center }
	div.image { text-align:center; margin: 10pt; margin-top: 10pt; }
	div.image img { border: 1px solid dimgray }
	div.comment { xbackground-color: #f4f4f4; padding: 10pt; border: 1px solid #cccccc; margin-bottom: 0pt; }
	table.visits { margin: 10pt }
	th { font-family: Helvetica; font-size: 9pt; border-bottom: 1px solid dimgray; text-align: left; padding-left: 5pt; padding-right: 5pt; }
	td { font-size: 10pt; padding-left: 5pt; padding-right: 5pt; }
	td.comment { xbackground-color: #f4f4f4; padding-top: 5px; padding-bottom:5px }
	</style>
	</head>
<body>

	<h1>$doc.Schedule.Site<br>
		$doc.getDateRangeString($doc.Schedule.Start, $doc.Schedule.End)<br>
		UTC $doc.formatDate("yyyyMMdd", $doc.Schedule.End, "UTC")
	</h1>

	#if(!$doc.isEmpty($doc.Schedule.Comment))
	<div class="comment">$doc.Schedule.Comment</div>
	#end

	<!--

	<h2>Sky Almanac</h2>

	<table>
		#set($night=$doc.NauticalTwilight)
		<tr><td>$doc.formatDate("HH:mm", $night.StartTime)</td><td>Nautical Twilight</td></tr>
		<tr><td>$doc.formatDate("HH:mm", $night.EndTime)</td><td>Nautical Twilight</td></tr>
	</table>

	-->

	<h2><a id="resource_summary">Resource Summary</a></h2>

	<table align="center">
		<tr>
		#foreach ($variant in $doc.Schedule.Variants)
			<td valign="top">
			<div style="font-family: Helvetica; font-weight: bold; color: white; background-color: dimgray; padding: 3pt;"><a href="#$variant" style="color:turquoise">$variant</a></div>
			<div style="padding:3pt">
			#foreach ($config in $doc.getUniqueConfigs($variant))
				$config<br>
			#end
			</div>
			</td>
			#if($velocityCount % 3 == 0)
				</tr><tr>
			#end
		#end
		</tr>
	</table>


	#foreach ($variant in $doc.Schedule.Variants)

		#if(!$doc.isEmpty($variant.Comment) || !$variant.isEmpty())

		<h2 class="visit" style="page-break-before:always;margin-bottom:0pt;"><a id="$variant" name="$variant.Conditions.toShortString()">$variant</a><span style="float:right">[<a href="#resource_summary" style="color:turquoise">top</a>]</span>
		<br><span style="font-size:9pt; font-weight: normal">$variant.Conditions</span></h2>
		#if(!$doc.isEmpty($variant.Comment))
		<div class="comment" style="margin-top:0pt">$variant.Comment</div>
		#end

		#if(!$variant.isEmpty())

		<div class="image"><img src="$doc.getImageFile($variant).Name"/></div>

		<table width="95%" cellspacing="0" cellpadding="0" class="visits">
			<tr>
				<th>Start</th>
				<th>Dur</th>
				<th>BG</th>
				<th>Observation</th>
				<th>Steps</th>
				<th>Inst</th>
				<th>Config</th>
				<th>WFS</th>
				<th>Target</th>
				<th>IQ</th>
				<th>CC</th>
				<th>WV</th>
				<th>BG</th>
				<th>Rise</th>
				<th>Trans</th>
				<th>Set</th>
			</tr>

			#foreach($a in $doc.getEvents($variant))

				#set($style=$doc.getStyle($a))

				#if($doc.isAlloc($a))
					#set($conds=$a.Obs.Conditions)

					<!--
					#if($doc.isGroupStart($a))
					<tr style="color:#999999">
						<td nowrap style="background-color: blue; color:white">Group</td>
						<td nowrap colspan="15">&nbsp;</td>
					</tr>
					#end
					-->

					<tr style="xbackground-color:#f0f0f0">
						<td nowrap style="$style">$doc.formatDate("HH:mm", $a.Start)</td>
						<td nowrap>$doc.formatHHMMSS($a.Length)</td>
						<td nowrap>$a.getSkyBrightnessBin(false)</td>
						<td nowrap>$a.Obs</td>
						<td nowrap>$doc.getSteps($a)</td>
						<td nowrap>$a.Obs.InstrumentString</td>
						<td nowrap>$doc.getFilteredOptions($a.Obs)</td>
						<td nowrap>$a.Obs.WavefrontSensors</td>
						<td nowrap>$doc.trunc($a.Obs.TargetName, 20)</td>
						<td align="center" nowrap>$doc.getCond($conds.IQ)</td>
						<td align="center" nowrap>$doc.getCond($conds.CC)</td>
						<td align="center" nowrap>$doc.getCond($conds.WV)</td>
						<td align="center" nowrap>$doc.getCond($conds.SB)</td>

						#set($rts=$doc.getRTS($a))

						<td nowrap>$doc.formatDate("HH:mm", $rts.Rise)</td>
						<td nowrap>$doc.formatDate("HH:mm", $rts.Transit)</td>
						<td nowrap>$doc.formatDate("HH:mm", $rts.Set)</td>
					</tr>
					#set($markers=$doc.getMarkers($a))
                    #set($clearanceWindows=$doc.getClearanceWindows($a))
					#if(!$doc.isEmpty($a.Comment) || !$markers.isEmpty() || !$clearanceWindows.isEmpty())
						<tr>
							<td class="comment" style="$style">&nbsp;</td>
							<td colspan="16" class="comment">

							$!a.Comment

							#foreach($m in $markers)
								<div style="margin:0px;color:$doc.getColor($m.Severity)">$m.Severity: $m.getFilteredUnionText($doc.getSchedule().getSite(), $doc.getTimePreference())</div>
							#end

                            #foreach($w in $clearanceWindows)
                         		<div style="margin:0px">$w</div>
                            #end

							</td>
						</tr>
					#end

				#else

				<tr style="color:#999999">
					<td nowrap style="$style">$doc.formatDate("HH:mm", $a.Time)</td>
					<td nowrap colspan="15">$a.Text</td>
				</tr>

				#end

			#end

		</table>

		#end

		#end

	#end

</body>
</html>
