<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- This file configures the "itc" web application servlets.  It
     maps the names used in the URL's to the internal classnames.
     Initialization can also be done here.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        id="WebApp_ID" version="3.0">

    <!-- This maps itc/servlet/calc to the ITC calculation servlet class -->
    <servlet>
        <servlet-name>
            calc
        </servlet-name>
        <servlet-class>
            edu.gemini.itc.web.servlets.CalculationServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>calc</servlet-name>
        <url-pattern>/servlet/calc</url-pattern>
    </servlet-mapping>

    <!-- This maps /servlet/images to the ITC files servlet class -->
    <servlet>
        <servlet-name>
            files
        </servlet-name>
        <servlet-class>
            edu.gemini.itc.web.servlets.FilesServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>files</servlet-name>
        <url-pattern>/servlet/images</url-pattern>
    </servlet-mapping>

    <!-- This maps itc/servlet/json to the ITC JSON servlet class -->
    <servlet>
        <servlet-name>
            json
        </servlet-name>
        <servlet-class>
            edu.gemini.itc.web.servlets.JsonServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>json</servlet-name>
        <url-pattern>/servlet/json</url-pattern>
    </servlet-mapping>

    <!-- This maps itc/servlet/calc to the ITC calculation servlet class -->
    <servlet>
        <servlet-name>
            jsonchart
        </servlet-name>
        <servlet-class>
            edu.gemini.itc.web.servlets.JsonChartServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>jsonchart</servlet-name>
        <url-pattern>/servlet/jsonchart</url-pattern>
    </servlet-mapping>
</web-app>
